Домашння работа 2

Условие: дана таблица с колонками (id, name, salary, managerId), студентам необходимо написать код на spark, который создаст эту таблицу (данные указаны ниже) и в результате выдаст таблицу в которой будут имена сотрудников, которые зарабатывают больше своих менеджеров.

In [1]:
!pip install pyspark >> None

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [4]:
data = [(1, 'Joe', 70, 3), (2,'Henry',80,4), (3,'Sam',60,'Null'), (4,'Max',90,'Null')]

In [5]:
spark = SparkSession.builder.appName("Homework2").getOrCreate()
df = spark.createDataFrame(data,["id","Name","Salary","ManagerId"])
df.show()

+---+-----+------+---------+
| id| Name|Salary|ManagerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     Null|
|  4|  Max|    90|     Null|
+---+-----+------+---------+

In [6]:
joined_df = df.alias("employees").join(df.alias("managers"), F.col("employees.ManagerId") == F.col("managers.id"), "left")
joined_df.show()

+---+-----+------+---------+----+----+------+---------+
| id| Name|Salary|ManagerId|  id|Name|Salary|ManagerId|
+---+-----+------+---------+----+----+------+---------+
|  1|  Joe|    70|        3|   3| Sam|    60|     Null|
|  2|Henry|    80|        4|   4| Max|    90|     Null|
|  3|  Sam|    60|     Null|NULL|NULL|  NULL|     NULL|
|  4|  Max|    90|     Null|NULL|NULL|  NULL|     NULL|
+---+-----+------+---------+----+----+------+---------+

In [7]:
result_df = joined_df.filter(F.col("employees.Salary") > F.col("managers.Salary"))
result_df.select("employees.Name").show()

+----+
|Name|
+----+
| Joe|
+----+

In [8]:
spark.stop()